/*-------------------------------Information------------------------------
Author: Rachael Hill
Date: 06/18/2012
Project: OPS Mobile App
Client: Open Source Ecology
/*-------------------------------Themes------------------------------*/
.ui-body-a,.ui-overlay-a{
  background: #c5d9b2;
  color: #000;
  font-family: helvetica, arial, sans-serif;
}
.ui-page{
  background: #c5d9b2;
  color: #000;
  font-family: helvetica, arial, sans-serif;
}

.ui-bar-a{
  background: -webkit-linear-gradient(top, #617ca4, #062048); 
}

.ui-btn-up-a{
  background: -webkit-linear-gradient(top, #617ca4, #062048); 
  text-shadow: none;
  outline: none;
}

.ui-btn-down-a{
  background: #062048;
  outline: none; 
}

.ui-btn-up-b{
  background: -webkit-linear-gradient(top, #1a407c, #062048); 
  text-shadow: none;
}

.ui-btn-down-b{
  background: #062048; 
}

.ui-btn-up-s{
    background: -webkit-linear-gradient(top, #ABC8E2, #375D81);
    text-decoration: none;
    font: 1em helvetica, arial, sans-serif;
    font-weight: 900;
    color: #000;
    text-shadow: none;
    border: .063em solid #272829;
}

.ui-btn-down-s{
    background: #272829;
    text-decoration: none;
    font: 1em helvetica, arial, sans-serif;
    font-weight: 900;
    color: #fff;
    border: .063em solid #272829;
}

.ui-btn-up-z{
    background: -webkit-linear-gradient(top, #f2d399, #bfa169);
    text-decoration: none;
    font: 1em helvetica, arial, sans-serif;
    font-weight: 900;
    color: #000;
    text-shadow: none;
    border: .063em solid #a6874e;
}

.ui-btn-down-z{
    background: #a6874e;
    text-decoration: none;
    font: 1em helvetica, arial, sans-serif;
    font-weight: 900;
    color: #000;
    border: .063em solid #a6874e;
}

.ui-icon-nav-home{
  background-image: url(../img/nav_home.png);
}

.ui-icon-nav-join{
  background-image: url(../img/nav_join.png);
}

.ui-icon-nav-twitter{
  background-image: url(../img/nav_twitter.png);
}

.ui-icon-nav-video{
  background-image: url(../img/nav_video.png);
}

/*-------------------------------Home------------------------------*/
#quote{
  font: italic .900em bold Baskerville, Helvetica, Arial;
  text-align: center;
  width: 15.714em;
  position: absolute;
  top: 2.3em;
  right: .5em;
}

#home-content{
  text-indent: 1em;
  text-align: center;
}

/*-------------------------------Donate------------------------------*/
#donateList li{
  font-size: .900em;
}

#statement{
  text-align: center;
}

.join-btn{
  width: 9em;
  margin: 0 auto;
}

/*-------------------------------Details------------------------------*/
.details{
  position: relative;
  bottom: 12.143em;
  left: 7.143em;
  font-size: .900em;
  width: 10.714em;
}

#image{
  outline-style: solid;
}

.title, #ovrView{
  text-align: center;
}

#headingItem{
  position: absolute;
  top: 50px;
  left: 170px;
  list-style: none;
}

#headingItem,p,h1{
  padding: 0;
  margin: 0;
}








